.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px auto 0;
}
.section-subtitle_theme_dark {
  color: #fff;
  position: relative;
  z-index: 1;
}
